/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
#header {
  background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  height: 40px;
}

div.centerbox {
  width: 842px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: 75px;
  margin-right: auto;
  margin-left: 5px;
  float: left;
  
  border-style:dotted;
  border-color:red;
  
}

#login_or_user {
  width: 300px;
  margin-left: auto;
  margin-right: 5px;
  float: right;
  
  border-style:dotted;
  border-color:#ccc;
  
}

body {
  margin: 0px;
  background-color: #FFFFFF;
  color: #333333;
}

