<div id="header">
  <div class="centerbox">
   <div id="logo">
     <a href="/" >this is a <br />
     logo
     </a>
   </div>
   <div id="logo">
     <a href="/experiments" ><br />
     Experimente
     </a>
   </div>
   <div id="logo">
     <%= link_to "new experiment!", new_experiment_path %>
   </div>
    
    <div id="login_or_user">
    <% if current_user %>
      <div id="user_info">
        <%= render 'layouts/userinfo' %>
      </div>
    <% else %>
      <div id="login_form">
        <%= render 'layouts/loginform' %>
      </div>
    <% end %>
    <br/>
    </div>
  </div>
</div>