<div id="header">
  <div class="centerbox">
   <div id="logo">
     this is a <br />
     logo
   </div>
    
    <div id="login_or_user">
    <% if current_user %>
      <div id="user_info">
        <%= render 'layouts/userinfo' %>
      </div>
    <% else %>
      <div id="login_form">
        <%= render 'layouts/loginform' %>
      </div>
    <% end %>
    <br/>
    </div>
  </div>
</div>